
.textblock {
  width: 40em;
  height: 5em;
}

.dropdown-menu {
    border: 1px solid #ddd;
    background-color: white;
}

.dropdown-menu li {
    border-top: 1px solid #ddd;
    padding: 2px 5px;
}

.dropdown-menu li:first-child {
    border-top: none;
}

.dropdown-menu li:hover,
.dropdown-menu .active {
    background-color: rgb(110, 183, 219);
}
